
.marvel-layout {
  background-color: rgb(238, 238, 245);
  height: 100%;
  min-height: 200px;
  min-width: 800px;

  :global {
    .ant-layout-sider {
      background-color: #F2F6FC;
    }

    .ant-layout-content {
      background-color: white;
      padding: 8px 16px;
      overflow: auto;
    }

    .ant-tree {
      background-color: transparent;
    }
  }
}
